<h1>Articles</h1>

Our blog has <%= Article.public_count %> public articles and counting! <%= @extra_title%>

<%= render "table", articles: @public_articles, title: 'Public Articles' %>
<%= render "table", articles: @private_articles, title: 'Private Articles' %>
<%= render "table", articles: @achieved_articles, title: 'Archived Articles' %>
  
<%= link_to "New Article", new_article_path, class: "btn btn-primary" %>