<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning" %>
<%= link_to "Destroy", article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" }, 
            class: "btn btn-danger" %>

<div class='p-3 my-3 border'>

  <h4>Comments</h4>
  <%= render @article.comments %>

  <h5>Add a comment:</h5>
  <%= render 'comments/form' %>

</div>
